/*-----------Default Mobile View----------------------------------------------------------
-----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------*/
/*---Body------------------------------------*/
/*change basic rule for font and background*/
body{
    font-family: 'Poppins', serif;
    background-image: url('../images/concrete_seamless.png');
    background-color:#f1f1f1;
}

/*---Logo------------------------------------*/
/*create aninmation for logo, then apply it */
@keyframes logo_animate{
    0%{
        width: 25px;
        opacity: 0;
    }
    100%{
        width: 475px;
        opacity: 1;
    }

}
#logo{
    width: 25px;
    opacity: 0;
    animation: logo_animate 5s;
    animation-fill-mode: forwards;
}

/*---Header---------------------------------*/
/*apply flex to header */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*---Navigation Bar-------------------------*/
/*apply flex to navigation bar, make the links have same color when clicked or not clicked*/
.nav_links{
    display:flex;
    flex-direction: column;
}
/*---Link unvisited---*/
.nav_item a {
    color:blue;
}
/*---Link visited---*/
.nav_item a:visited {
    color:blue;
}

/*---Card Class-------------------------*/
/*change the background color and add border to card class header, and apply round corners */
.card > header{
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0;
    border-radius: 50px 50px 0px 0px;
}

.card{
    border-radius: 50px 50px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
}

/*---Pricing Class-------------------------*/
/*apply flex to pricing class to reposition all the cards */
.pricing{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*---Image Class-------------------------*/
/*add borders to all gallery images*/
.gallery img{
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}
/*---Gallery Class-------------------------*/
/*add flex to gallery class and reposition all gallery photos */
.gallery{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}
/*---Reduce Motion-------------------------*/
@media (prefers-reduced-motion: reduce) {
    #logo {
      animation: none;
      width: 475px;
      opacity: 1;
    }
  }
/*-----------Large Screen (>900px)----------------------------------------------------------
-----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------*/
@media screen and (min-width: 900px){
    /*---Header---------------------------------*/
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav_links {
        display: flex;
        flex-direction: row;
    }
    /*---Pricing & Card class---------------------------------*/
    .pricing{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        
    }
    .card{
        flex-basis: 275px;
    }
    /*---Sticky Header---------------------------------*/
    /*make sure the header sticky on the top when scrolling*/
    body > header{
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 100;
    }
    }

/*-----------Print View----------------------------------------------------------
-----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------*/
@media print{
/*---Body---------------------------------*/    
body{
    font-family:'Arial', Helvetica;
    background-image: none; 
}
/*---Navigation Bar---------------------------------*/ 
/*I search this width property online to space out my nav links, not sure what it is but it helps*/
nav {
    width: -webkit-fill-available;
}
/*space out links*/
.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*---Pricing Class---------------------------------*/ 
.pricing {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}
/*---Card Class---------------------------------*/ 
/*add border to card class*/
.card{
    border: solid 2px #45ADDD;
    flex-basis: 325px;
}
/*---Invisible Gallery---------------------------------*/
/*make all gallery related content invisible*/
.gallery {
    display: none;
}
#gallery {
    display: none;
}
/*---Add Thumb Up Emoji---------------------------------*/
/*add emoji only to second li of the ul*/
.card ul li:nth-child(2)::after{
    content: "\1F44D";
}

}
    
